.actividades-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.actividades-wrapper {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  z-index: 10;
}

.image-wrapper {
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.rounded-image {
  width: 15rem;
  height: 15rem;
  display: flex;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.2px solid #707070;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.rotate45 {
  width: 35rem;
  height: 50rem;
  rotate: 35deg;
  background-color: #57c54b;
  position: absolute;
  top: -230px;
  left: -400px;
  z-index: -10;
}

.rotate45_2 {
  width: 550px;
  height: 1050px;
  rotate: 35deg;
  background-color: #57c54b;
  position: absolute;
  bottom: -199px;
  right: -330px;
  z-index: -10;
}

.texto-principal {
  font-size: 10rem;
  color: #707070;
}

.texto-secundario {
  font-size: 3rem;
  color: #707070;
  margin-top: 15px;
}
